# Example configuration variables for the Credex policy hook
# These should be substituted into manifest.yaml using envsubst

# The SPIFFE ID of the Credex server, used for mTLS auth
CREDEX_SPIFFE_ID=spiffe://local.exchange/ns/cofide/sa/cofide-credex
